<div class="task_box" id="task-<%= task.id %>">
  
  <div class="task-proposal-source"><b><%= _('Source') %>:</b> <%= task.proposal_source %></div>
  <%= tag :a, name: "task-#{task.id}" %>
  <%= render :partial => 'task_icon', :locals => {:task => task} %>

  <% if !@view_only && profile.organization? && @responsible_candidates.present? %>
    <div class="task_responsible">
      <span class="label"><%= _('Assign to:') %></span>
      <span>
        <% change_responsible_url = url_for :action => :change_responsible, :controller => :tasks %>
        <%= select_tag "tasks[#{task.id}][responsible]", options_from_collection_for_select(@responsible_candidates, :id, :name, task.responsible.present? ? task.responsible.id : nil), :include_blank => true, :onchange => "change_task_responsible(this);", 'data-old-responsible' => task.responsible.present? ? task.responsible.id : nil, 'data-task' => task.id, 'data-url' => change_responsible_url %>
      </span>
    </div>
  <% end %>

  <% if @view_only && task.responsible.present? %>
    <div class="task_responsible">
      <span class="label"><%= _('Assigned to:') %></span>
      <span class="value"><%= task.responsible.name %></span>
    </div>
  <% end %>

  <div class="task_date"><%= show_time(task.created_at) %></div>

  <%= render :partial => 'task_title', :locals => {:task => task} %>

  <div class="task_information">
    <%= task_information(task) %>
  </div>

    <div class="evaluation_toolbar">
        <div class="evaluation_button approval"
          data-url='<%="/myprofile/#{profile.identifier}/plugin/proposals_discussion/evaluate_tasks/flag_approve_proposal"%>'
          data-task-id="<%= task.id %>"
          data-flag-action="approve_proposal">
          <img class="" src="/plugins/proposals_discussion/images/approval.png">
          <span>Aprovar</span>
        </div>
        <div id="evaluation_button_#{task.id}" class="evaluation_button reproval"
          data-url='<%="/myprofile/#{profile.identifier}/plugin/proposals_discussion/evaluate_tasks/flag_reject_proposal"%>'
          data-task-id="<%= task.id %>" data-flag-action="reprove_proposal">
          <img class="" src="/plugins/proposals_discussion/images/reproval.png">
          <span>Reprovar</span>
        </div>
      </div>




      <%= fields_for "tasks[#{task.id}][task]", task do |f| %>
        <% if task.accept_details %>
          <div id="on-accept-information-<%=task.id%>" style="display: none">
            <%= render :partial => partial_for_class(task.class, nil, :accept_details), :locals => {:task => task, :f => f} %>
          </div>
        <% end %>

        <% if task.reject_details %>
          <div id="on-reject-information-<%=task.id%>" style="display: none">
            <%= render :partial => partial_for_class(task.class, nil, :reject_details), :locals => {:task => task, :f => f} %>
          </div>
        <% end %>

        <div class="formfieldline">
          <div class="formfield tag-list-fields">
            <p>
              <%= labelled_select(_('Categories')+': ', :select_category, :id, :name, @filter_categories, @task_categories, {:class => 'add-category'}) %>
              <%= text_field_tag( :categories_list, task.categories_list, :size => 36,:id => '', :class => 'task-categories', 'data-submit-values'=>"{'task_id':'#{task.id}'}") %>
            </p>
          </div>
        </div>

      <% end %>

  <% unless @view_only #MODERATOR VIEW %>
    <div class="confirm_evaluation_toolbar">
      <div class="confirm_evaluation_button">
        <a data-task-id="<%= task.id %>" class="disabled" href="#task-<%= task.id %>"
          data-href='<%="/myprofile/#{profile.identifier}/plugin/proposals_discussion/confirm_tasks"%>'>Confirmar</span>
      </div>
    </div>
  <% end %>

  <% if @view_only # EVALUATOR VIEW %>
      <div class="confirm_evaluation_toolbar">
        <div class="confirm_evaluation_button">
          <a data-task-id="<%= task.id %>" class="disabled" href="#task-<%= task.id %>"
            data-href='<%="/myprofile/#{profile.identifier}/plugin/proposals_discussion/evaluate_tasks"%>'>Confirmar</span>
        </div>
      </div>

  <% end %>

</div><!-- class="task_box" -->
