<div class="proposal">
  <div class="author">
    <%= link_to_profile profile_image(proposal_card.author, :minor, :class => 'disable-zoom') + '<br/>' + proposal_card.author.short_name, proposal_card.author.identifier, :class => 'profile-link' %>
  </div>
  <div class="content">
    <div class="title">
      <%= link_to proposal_card.name, proposal_card.view_url %>
    </div>
    <% if proposal_card.published? %>
      <div class="public actions">
        <%= render :partial => 'content_viewer/social', :locals => {:proposal => proposal_card} %>
      </div>
    <% else %>
      <div class="private actions">
        <%= link_to url_for({:controller => 'proposals_discussion_plugin_myprofile', :action => 'publish_proposal', :proposal_id => proposal_card.id}), :class => 'button with-text icon-suggest' do %>
          <strong><%= _("Publish") %></strong>
        <% end %>
      </div>
    <% end %>
    <div class="abstract">
      <%= proposal_card.abstract %>
    </div>
    <div class="score">
      <% if proposal_card.published? %>
        <% normalized_score = proposal_card.normalized_score %>
        <% pos = 26 * (normalized_score*4 - 1).round %>
        <span title="<%= normalized_score %>" style="background-position-y: -<%= pos %>px">&nbsp;</span>
      <% end %>
    </div>
    <% if proposal_card.locations.present? %>
      <div class="locations">
        <% proposal_card.locations.each do |location| %>
          <span class="location"><%= location.name %></span>
        <% end %>
      </div>
    <% end %>
    <% if !proposal_card.tags.empty? %>
      <div class="tags" id="article-tags">
        <%= proposal_card.tags.map { |t| link_to(t, :controller => 'profile', :profile => @profile.identifier, :action => 'tags', :id => t.name ) }.join("\n") %>
      </div>
    <% end %>
    <div class="comments-count">
      <%= n_("%s comment", "%s comments", proposal_card.comments_count) % proposal_card.comments_count %>
    </div>
  </div>
</div>
