<div class="proposal">
  <div class="score">
    <% if proposal_card.published? %>
      <% normalized_score = proposal_card.normalized_score(@holder) %>
      <% size = 25 - [5, normalized_score*25].max %>
      <span title="<%= normalized_score %>" style="left:-<%= size %>px;background-position-x: <%= size %>px">&nbsp;</span>
    <% end %>
  </div>
  <div class="content">
    <div class="title">
      <%= link_to proposal_card.name, proposal_card.view_url %>
    </div>
    <div class="social">
      <%= render :partial => 'content_viewer/social', :locals => {:proposal => proposal_card} %>
    </div>
    <div class="abstract">
      <%= link_to strip_tags(proposal_card.abstract), proposal_card.view_url %>
    </div>
  </div>
</div>
