<%= javascript_include_tag 'plugins/proposals_discussion/proposals_list.js' %>

<%= add_rss_feed_to_head(discussion.name, discussion.feed.url) if discussion.feed %>

<div class="description">
  <%= discussion.body %>
</div>

<% if discussion.allow_create?(user) %>
<div class="actions">
  <%= link_to({:controller => :proposals_discussion_plugin_profile, :action => :export, :format => :csv, :article_id => discussion.id}, :class => 'button with-text icon-spread') do %>
    <strong><%= _('Export') %></strong>
  <% end %>
</div>
<% end %>

<%= render :partial => 'content_viewer/statistics', :locals => {:holder => discussion} %>

<div id="article-tags" class="tag_cloud">
  <%= tag_cloud(discussion.proposal_tags, :tag, {:action => :tag, :controller => 'search'}, :max_size => 18, :min_size => 10) %>
</div>

<div class="new-proposal">
  <%= link_to url_for({:controller => 'cms', :action => 'new', :type => "ProposalsDiscussionPlugin::Proposal", :parent_id => discussion.id}), :class => 'button with-text icon-add' do %>
    <strong><%= _("Send your proposal!") %></strong>
  <% end %>
</div>

<%= render :partial => 'content_viewer/proposals_list', :locals => {:holder => discussion} %>
