<div class="topic">
  <h5><%= _('Discussion Topic') %></h5>
  <div class="content"><%= @page.topic.title %></div>
</div>

<div class="title">
  <h5><%= _('Title') %></h4>
  <div class="content"><%= @page.title %></div>
</div>

<div class="abstract">
  <h5><%= _('Abstract') %></h4>
  <div class="content"><%= @page.abstract %></div>
</div>

<div class="body">
  <h5><%= _('Body') %></h4>
  <div class="content"><%= @page.body %></div>
</div>

<% if @page.allow_edit?(user) && !@page.published %>
<div class="actions">
  <%= link_to url_for({:controller => 'proposals_discussion_plugin_myprofile', :action => 'publish_proposal', :proposal_id => @page.id}), :class => 'button with-text icon-suggest' do %>
    <strong><%= _("Publish") %></strong>
  <% end %>
</div>
<% end %>
