<div class="discussion">
  <h5><%= @page.topic.discussion.title %> </h5>
</div>

<div class="topic">
  <div class="topic-color" style="background-color: <%= @page.topic.color %>;"></div>
  <h2><%= link_to @page.topic.title, @page.topic.view_url %></h2>
</div>

<div class="title">
  <h5><%= _('Title') %></h4>
  <div class="content"><%= @page.title %></div>
</div>

<div class="abstract">
  <h5><%= _('Abstract') %></h4>
  <div class="content"><%= @page.abstract %></div>
</div>

<div class="body">
  <h5><%= @page.topic.discussion.custom_body_label %></h4>
  <div class="content"><%= @page.body %></div>
</div>

<% if @page.created_by == user && !@page.published %>
<div class="actions">
  <%= link_to url_for({:controller => 'proposals_discussion_plugin_myprofile', :action => 'publish_proposal', :proposal_id => @page.id}), :class => 'button with-text icon-suggest' do %>
    <strong><%= _("Publish") %></strong>
  <% end %>
</div>
<% end %>
