<%= stylesheet_link_tag 'spectrum.css' %>
<%= javascript_include_tag "spectrum.js" %>
<%= javascript_include_tag "colorpicker-noosfero.js" %>

<%= required_fields_message %>

<%= required f.text_field('name', :size => '64', :maxlength => 150) %>
<%= render :partial => 'general_fields' %>

<%= labelled_form_field(_('Description:'), text_area(:article, :body, :rows => 3, :cols => 64)) %>

<%= labelled_colorpicker_field(_('Color:'), :article, :color) %>
<span id="color_preview" class = "color_marker" style="background-color: <%= @article.color %>" ></span>
