<%= render :partial => 'text_editor_sidebar' %>

<%= stylesheet_link_tag 'spectrum.css' %>
<%= javascript_include_tag "spectrum.js" %>
<%= javascript_include_tag "colorpicker-noosfero.js" %>

<%= required_fields_message %>

<%= render :file => 'shared/tiny_mce' %>

<%= required f.text_field('name', :size => '64', :maxlength => 150) %>
<%= render :partial => 'general_fields' %>

<%= render :partial => 'shared/lead_and_body', :locals => {:tiny_mce => true} %>

<%= labelled_colorpicker_field(_('Color:'), :article, :color) %>
<span id="color_preview" class = "color_marker" style="background-color: <%= @article.color %>" ></span>

